body {
    margin: 0;
}

header {
    background-color: #111111;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40 px;
    top: 0%;
}
 h1{
   font-size: 20 px;
   margin: 0%;
 }

 header a{
color: ffffff;
text-decoration: none;
 }

 header nav a {
    color: ffffff;
    text-decoration: none;
    justify-content: space-evenly;
    margin-left: 15px;
 }

 #intro {
    background-color: #ffffff;
    text-align: center;
    padding: 100px 20px;
 }
 

